# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Model / ML files
*.joblib
*.mlmodel
*.h5
*.pkl
*.csv
*.parquet
*.html

# Swift / Xcode
*.xcuserdata/
DerivedData/
*.xcuserstate

# Other
*.log
untitled folder*/

